.recipeItemLabel {
    width: 100%;
    height: 0;
    padding-bottom: 62.5%;
    background-color: black;
    position: relative;
}

.recipeItemLabel div {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    -webkit-transform: translate(-50%, -50%);
}

.recipeItemLabel span {
    display: block;
    text-align: center;
}

.recipeItemLabel span.title {
    color: white;
    font-size: 22px;
    font-weight: bold;
}

.recipeItemLabel span.intro {
    margin-top: 13px;
    color: rgba(255, 255, 255, 0.8);
    font-size: 15px;
}

.recipeItemList {
    padding-left: 15px;
    padding-bottom: 27px;
    padding-top: 10px;
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    overflow: scroll;
    background-color: white;
}

.recipeItem {
    width: auto;
    height: auto;
    max-width: 150px;
    overflow: hidden;
    padding-right: 10px;
}

.recipeItem img.recipeImage {
    width: 150px;
    height: 90px;
}

.recipeItem span.recipeTitle {
    color: #333333;
    margin-top: 12px;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.recipeAuthor {
    height: 18px;
    display: -webkit-box;
    margin-top: 10px;
    overflow: hidden;
    -webkit-box-align: center;
    -webkit-box-orient: horizontal;
}

.recipeAuthor img.authorPhoto {
    width: 18px;
    height: 18px;
    -webkit-border-radius: 9px 9px;
}

.recipeAuthor div.authorName {
    width: 0;
    -webkit-box-flex: 1;
    margin-left: 7px;
    color: black;
    font-size: 12px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.menuLargeItem div.title {
    width: 100%;
    height: auto;
}

.menuLists {
    width: 100%;
    height: auto;
    overflow: scroll;
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    padding-bottom: 15px;
}

.menuItem {
    width: 270px;
    height: 173px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    margin-right: 10px;
}

.menuItem div {
    text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.80);
    font-size: 12px;
    color: white;
}

.menuItem div.recipeCount {
    font-weight: bold;
}

.menuItem div.name {
    font-size: 16px;
    font-weight: bold;
}

.label {
    width: 100%;
    height: auto;
    margin-top: 23px;
    margin-bottom: 23px;
    display: -webkit-box;
    -webkit-box-align: end;
}

.label div.title {
    font-size: 17px;
    padding-left: 15px;
    color: #333333;
    font-weight: bold;
    width: auto;
    text-align: end;
}

.label div.titleMate {
    font-size: 11px;
    padding-left: 8px;
    color: rgba(68, 68, 68, 0.81);
    width: auto;
    text-align: end;
}

.label div.more {
    width: auto;
    color: #FF6619;
}

.label img.iconArrowRight {
    margin-left: 7px;
    width: 7px;
    padding-right: 15px;
    height: 13px;
}

.userLists {
    width: 100%;
    height: auto;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-align: end;
}

.userItem {
    -webkit-box-flex: 1;
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-orient: vertical;
    -webkit-box-align: center;
}

.userItem div.name {
    margin-top: 10px;
    color: #333333;
    font-weight: bold;
    margin-bottom: 22px;
}

.userItem div.score {
    color: #FF6619;
    font-size: 18px;
    font-family: douguoDIN, Verdana, sans-serif;
    margin-bottom: 7px;
}

.userItem div.scoreLabel {
    color: rgba(68, 68, 68, 0.81);
    font-size: 12px;
    margin-bottom: 15px;
}

.loadMore {
    height: 90px;
    width: 90px;
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    background-color: #EEEEEE;
}
