.userList {
    width: 100%;
}

.scoreLabel {
    width: 100%;
    height: auto;
    margin-top: 23px;
    margin-bottom: 23px;
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
}

.userListItem {
    width: 100%;
    height: auto;
    padding-top: 12px;
    padding-bottom: 12px;
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: center;
    -webkit-box-align: center;
}

.userListItem img.userPhoto {
    width: 50px;
    height: 50px;
    -webkit-border-radius: 50% 50%;
    overflow: hidden;
}

.userListItem div.nickContainer {
    margin-left: 10px;
}

.userListItem div.userName {
    font-size: 16px;
    color: black;
}

.userListItem div.weekScore {
    color: #FF6619;
    font-size: 18px;
    font-family: douguoDIN, Verdana, sans-serif;
    margin-bottom: 7px;
}

.userListItem span.totalScore {
    margin-top: 10px;
    font-size: 14px;
    font-family: douguoDIN, Verdana, sans-serif;
    margin-bottom: 7px;
}

.scoreLabel {
    display: -webkit-box;
    -webkit-box-align: inherit;
    margin-top: 12px;
    margin-bottom: 12px;
}

.scoreLabel div.more {
    color: #FF6619;
    font-size: 14px;
}

.indexUser {
    width: 40px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}
